.final-list {
  list-style: none;
  padding: 0;
}
.final-list li {
  margin: 0.6em 0;
}
.pro-area {
  margin-top: 1.5em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
}
.pro-btn {
  display: block;
  width: 100%;
  margin: 0.5em 0;
}
